<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>

    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>

    <title>PrimeFaces Ultima</title>

    <h:outputScript name="js/nanoscroller.js" library="ultima-layout"/>
    <h:outputScript name="js/layout.js" library="ultima-layout"/>
    <h:outputScript name="js/ripple.js" library="ultima-layout"/>
    <h:outputScript name="js/swipe.js" library="ultima-layout"/>

    <ui:insert name="head"/>

</h:head>

<h:body styleClass="exception-body error-page">

    <div class="exception-type">
        <p:graphicImage library="ultima-layout" name="images/error.svg"/>
    </div>

    <div class="card exception-panel">
        <i class="ui-icon ui-icon-error"></i>
        <h1>Exception Occured</h1>
        <div class="exception-detail">Please contact system administrator</div>
        <p:button id="homepage"
                  href="#"
                  styleClass="secondary"
                  value="Home Page"/>
    </div>

    <h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout"/>
    <h:outputStylesheet name="css/ripple.css" library="ultima-layout"/>
    <h:outputStylesheet name="css/animate.css" library="ultima-layout"/>
    <h:outputStylesheet name="css/layout-blue.css" library="ultima-layout"/>

</h:body>

</html>