<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>

    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>

    <title>PrimeFaces Ultima</title>

    <h:outputScript name="js/nanoscroller.js" library="ultima-layout"/>
    <h:outputScript name="js/layout.js" library="ultima-layout"/>
    <h:outputScript name="js/ripple.js" library="ultima-layout"/>
    <h:outputScript name="js/swipe.js" library="ultima-layout"/>

    <ui:insert name="head"/>

</h:head>

<h:body styleClass="login-body">

    <div class="card login-panel ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12">
                <p:graphicImage library="ultima-layout" name="images/logo-ultima.svg"/>
            </div>
            <div class="ui-g-12">
                <h:panelGroup styleClass="md-inputfield">
                    <p:inputText id="username"/>
                    <p:outputLabel for="username" value="Username" />
                </h:panelGroup>
            </div>
            <div class="ui-g-12">
                <h:panelGroup styleClass="md-inputfield">
                    <p:inputText id="password"/>
                    <p:outputLabel for="password" value="Password" />
                </h:panelGroup>
            </div>
            <div class="ui-g-12">
                <p:button id="signin"
                          href="#"
                          icon="ui-icon-person"
                          value="Sign In"/>

                <p:button id="forgot"
                          href="#"
                          icon="ui-icon-help"
                          styleClass="secondary"
                          value="Forgot Password"/>
            </div>
        </div>
    </div>

    <h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout"/>
    <h:outputStylesheet name="css/ripple.css" library="ultima-layout"/>
    <h:outputStylesheet name="css/animate.css" library="ultima-layout"/>
    <h:outputStylesheet name="css/layout-blue.css" library="ultima-layout"/>

</h:body>

</html>