<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<div class="layout-rightpanel">
    <div class="layout-rightpanel-header">
        <div class="weather-day">Wednesday</div>
        <div class="weather-date">Jan 26</div>
    </div>

    <div class="layout-rightpanel-content">
        <h1>Weather</h1>
        <h2>New York, USA</h2>

        <div class="weather-today">
            <span class="weather-today-value">21℃</span>
            <p:graphicImage library="ultima-layout"
                            name="images/dashboard/weather-icon-2.svg"
                            width="60"/>
        </div>

        <ul class="weekly-weather">
            <li>
                Thursday
                <p:graphicImage library="ultima-layout"
                                name="images/dashboard/weather-icon-1.svg"/>
                <span class="weekly-weather-value">24</span>
            </li>
            <li>
                Friday
                <p:graphicImage library="ultima-layout"
                                name="images/dashboard/weather-icon-3.svg"/>
                <span class="weekly-weather-value">19</span>
            </li>
        </ul>
    </div>
</div>

</html>