<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pu="http://primefaces.org/ultima">

<h:form id="menuform">

    <div class="layout-menu">

        <pu:menu widgetVar="UltimaMenu">

            <p:menuitem id="im_dashboard" value="Index" icon="dashboard" outcome="/index"/>

            <p:submenu id="im_default" label="Template Pages" icon="apps">
                <p:menuitem id="im_login" value="Login Page" icon="audiotrack" outcome="/login"/>
                <p:menuitem id="im_error" value="Error Page" icon="audiotrack" outcome="/error"/>
                <p:menuitem id="im_404" value="404 Page" icon="audiotrack" outcome="/404"/>
                <p:menuitem id="im_access" value="Access Denied Page" icon="audiotrack" outcome="/access"/>
            </p:submenu>

        </pu:menu>

    </div>

</h:form>

</html>