<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


<div class="topbar clearfix">
    <div class="topbar-left">
        <div class="logo"></div>
    </div>

    <div class="topbar-right">
        <a id="menu-button" href="#">
            <i></i>
        </a>

        <a href="#" class="rightpanel-btn">
            <i class="ui-icon ui-icon-list"></i>
        </a>

        <ul class="topbar-items fadeInDown animated">
            <li>
                <a href="#">
                    <i class="topbar-icon material-icons animated swing"></i>
                    <span class="topbar-badge animated rubberBand">5</span>
                    <span class="topbar-item-name">Messages</span>
                </a>
                <ul class="ultima-menu animated fadeInDown">
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage library="ultima-layout"
                                            name="images/avatar1.png"
                                            width="35"/>
                            <span>Give me a call</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage library="ultima-layout"
                                            name="images/avatar2.png"
                                            width="35"/>
                            <span>Sales reports attached</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage library="ultima-layout"
                                            name="images/avatar3.png"
                                            width="35"/>
                            <span>About your invoice</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage library="ultima-layout"
                                            name="images/avatar2.png"
                                            width="35"/>
                            <span>Meeting today at 10pm</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage library="ultima-layout"
                                            name="images/avatar4.png"
                                            width="35"/>
                            <span>Out of office</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="topbar-icon material-icons"></i>
                    <span class="topbar-badge animated rubberBand">4</span>
                    <span class="topbar-item-name">Notifications</span>
                </a>
                <ul class="ultima-menu animated">
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons"></i>
                            <span>Pending tasks</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons"></i>
                            <span>Meeting today at 3pm</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons"></i>
                            <span>Download documents</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons"></i>
                            <span>Book flight</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="search-item">
                <h:panelGroup styleClass="md-inputfield">
                    <p:inputText id="search"/>
                    <i class="topbar-icon ui-icon ui-icon-search"></i>
                    <p:outputLabel for="search" value="Search" />
                </h:panelGroup>

            </li>
        </ul>

    </div>
</div>


</html>